/* Images */
.portrait {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
  }

/* Text */
.text-center {
  text-align: center;
}

/* Misc */
/* horizontal line */
hr {
  height: 2px;
  padding: 0;
  margin: 1rem 0;
  background-color: #eff0f1;
  border: 0;
}

/* don't add a border to tables */
table { border: 0px solid transparent; }
table td { border: 0px solid transparent; }